#registerButton:hover {
    cursor: pointer;    
}

#registerButton {
    color: blue;
}

#login {
    width: 12%;
    float: right;
    margin: 1em 0em .5em 1em;
}

#loginForm {
    margin-left: -20%;
    position:relative;
    right: 8%;
    border-radius: 5px;
    display:none;
    background-color: #90a0ff;
    padding: .3em;
    z-index: 1;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.pretty-button {
    background-color: blue;
    position:relative;
    left: 50%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.pretty-button:hover {
   background-color: #6070ff; 
   cursor: pointer;
   box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2)
}

#login input {
    margin: .5em auto;
}

.vertical-form input {
    margin: auto;
    display: block;
}

.feature {
    width: 40%;
    height: 80%;
}

.feature-image {
    height: 80%;
    /* width: 90%; */
    text-align: center;
    margin: auto;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.feature-image img {
    margin: auto 3em auto 0em;
    height: 10%;
    -webkit-filter: drop-shadow(3px 5px 5px #225);
    filter:         drop-shadow(3px 5px 5px #225); 
    /* max-height: 100%; */
    /* max-width: 100%; */
    }

.feature.left {
    float: left;
}

.feature.left img {
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);

}

.feature.right img {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}

.feature.right {
    float: right;
}

.description.left {
    float: left;
}

.description.right {
    float: right;
}

.description {
    padding: 0em 3em 0em 3em;
    margin: auto 0;
    /* clear: both; */
    background-color: #FC7;
    width: 50%;
    height: 80%;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.content-pane div {
    display: inline;
}

.content-pane {
    height: 30%;
    width: 100%;
    display:table;
    margin: auto;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    padding: 1em 0;
    /* background image? */
}

.main {
    top: 80px;
    width: 100%;
    height: 80%;
    position: absolute;
    /* background image? */
    left: 0%;
    right: 0%;
    bottom: 0%;
    padding: 1em 0;
}

.header {
    position: absolute;
    background-color: #FA2;
    height: 80px;
    width: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.header h1 {
    display: inline-block;
    padding: .1em 1em;
}

.linkBar {
    color: blue;
    float:right;
    top: 80px;
    left: 25%;
    bottom:0;
    right:0;
    
    position:absolute;
    margin: -2% 0% 0 0;
}

.linkBar li {
    padding: .5em .5em;
    margin: .2em;
    border-radius: 5px;
    background-color:yellow;
}

.linkBar li,ul,a {
    display: inline;
    text-decoration: none;
    padding: .2em .3em .3em .1em;
}

.disclaimer {
    background-color: red;
    width: auto;
    display: inline-block;
}

.disclaimer div {
    display:inline;
}


p,li i {
    vertical-align: middle !important;
}

/* The Modal (background) from w3schools*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 0 -.5em;
}

.close:after {
    content: '×'; /* UTF-8 symbol */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
